PORT=5000
DATABASE_URL="your mongodb url"
BCRYPT_SALT_ROUNDS=12
JWT_ACCESS_SECRET="jwt secret"
SP_ENDPOINT=https://sandbox.shurjopayment.com
# SP_USERNAME="your surjopay username"
# SP_PASSWORD="your surjopay password"
# SP_PREFIX=SP